.about-page-container {
  width: 100%;
  height: 100vh;  
  display: flex;
  background-image: url("../../assets/dash6.jpg"); /* Resmi doğru path'te tut */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center; /* Dikeyde ortalama */
  align-items: center; /* Yatayda ortalama */
  text-align: center;
}

/* Overlay (Arka planı karartma) */
.about-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Hafif karartılmış arka plan */
}

.about-content {
  position: relative;
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: column; /* İçeriği dikeyde hizala */
  justify-content: center; /* İçeriği dikeyde ortala */
  align-items: center; /* Yatayda ortala */
  text-align: center;
  height: 100%; /* Sayfa boyutuna göre içerik alanının tamamını kullan */
}

.about-title {
  font-size: 2.5rem;
  color: #ffffff; /* Koyu gri başlık */
  margin-bottom: 20px;
}

.about-description {
  font-size: 1.2rem;
  color: #ffffff; /* Koyu gri renk, daha yumuşak ton */
  margin-bottom: 30px;
}

.about-feature-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.about-feature-card {
  background: rgba(255, 255, 255, 0.4); /* Daha opak arka plan */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25); /* Güçlü gölge */
  max-width: 150px;
  text-align: center;
  transition: transform 0.3s ease, background 0.3s ease;
}

.about-feature-card:hover {
  transform: scale(1.1); /* Hafif büyütme */
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.5);
  border: 2px solid #0056b3; /* Koyu mavi kenarlık */
  background: rgba(255, 255, 255, 0.5); /* Daha belirgin arka plan */
}

.about-feature-icon {
  font-size: 2rem;
  color: #00d9ff; /* Daha parlak ikon rengi */
  margin-bottom: 10px;
}

.about-feature-card p {
  color: #f1f1f1; /* Açıklama metnini açık gri yap */
  font-weight: 500;
  transition: color 0.3s ease;
}

.about-feature-title {
  margin: 10px 0;
}


