.chat-box {
    padding: 5px;
    width: 100%;
}

.email {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 50%;
}

.chat-header {
    display: flex;
    align-items: center;
    background: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.chat-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.chat-user-info {
    display: flex;
    flex-direction: column;
}
.chat-user-info h2 {
    margin: 0;
    font-size: 18px;
}
.chat-user-info p {
    margin: 0;
    font-size: 14px;
    color: gray;
}


.email-subject {
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 10px;
}

.email-content {
    margin-bottom: 10px;
}

.email-time {
    font-size: 12px;
    color: gray;
    text-align: right;
    margin-top: 10px;
}

.email.received {
    background-color: #f4f4f4;
    text-align: left;
    margin-left: 0;
    margin-right: auto;
}

.email.sent {
    background-color: #e1f7d5;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}

.email p {
    margin: 5px 0 0;
}

.email-history {
    font-style: italic;
    color: gray;
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 5px;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
    max-height: 60%;
    scroll-behavior: smooth;
}

.new-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-top: 1px solid #ddd;
    background: white;
    position: absolute;
    bottom: 0;
    width: 70%;
}

.email-subject-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.email-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.btn {
    background: #007bff;
    color: white;
    padding: 8px 12px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn.email {
    background: #28a745;
}

.btn:hover {
    opacity: 0.8;
}

.no-emails-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Ensures the container takes up the full height of its parent */
    text-align: center;
  }
  
  .no-emails-image {
    width: 200px; /* Adjust the size of the image as needed */
    margin-bottom: 10px; /* Adds space between the image and the text */
    opacity: 0.5; /* Makes the image slightly transparent */
  }

  .no-user-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Yüksekliği tam ekran yapar */
    width: 70%; /* Genişliği tam ekran yapar */
    text-align: center;
  }
  
  