.user-list {
  width: 30%;
  height: 100vh;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.search-bar {
  width: 100%;
  padding: 8px 0px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0; /* Hafif gri arka plan */
}

.user-list ul {
  list-style: none;
  padding: 0;
    border-radius: 5px;

}

.user-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  background-color: #fff; /* Arka plan beyaz */
  color: #333; /* Metin rengi */
  transition: background-color 0.3s ease;
}

.user-list li:hover,
.user-list .active {
  background: #e0e0e0; /* Hover için daha koyu gri */
  color: #333; /* Metin rengi */
}
